.root {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: var(--elevation-3);

  @media (width >= 768px) {
    position: static;
    box-shadow: none;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  p {
    font-weight: 600;
  }

  @media (width >= 768px) {
    justify-content: normal;
    padding: 0 !important;
    gap: 0 !important;
  }
}

.item {
  @media (width >= 768px) {
    display: flex;
    align-items: center;

    &:last-child a {
      padding-right: 0;
    }
  }
}

.item a {
  display: grid;
  place-content: center;
  place-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--mantine-color-black);
  gap: var(--size-xxs);

  @media (width >= 768px) {
    padding-right: var(--size-3xl);
    height: 50px;
  }
}
